<!DOCTYPE html>
<html>
  <head>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/ag-grid-community@30.2.1/styles/ag-theme-quartz.css"
    />
  </head>
  <body>
    <!-- fragment 이름을 businessModal 로 지정 -->
    <div th:fragment="icsModal">
      <div class="modal fade" id="icsModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">재고 현황 보고서</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
              ></button>
            </div>

            <!-- 모달 바디 시작 -->
            <div class="modal-body">
              <!-- 버튼 영역: 카드 밖, 오른쪽 상단 고정 -->
              <!-- <iframe id="pdfFrame" width="100%" height="600px"></iframe> -->
              <div id="detailGrid" class="ag-theme-quartz" style="height:400px; width:100%;"></div>
            <!-- 모달 바디 종료 -->
            </div>

            <!-- 모달 푸터 시작-->
            <div class="modal-footer">
            
             <!-- 모달 푸터 종료-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
