<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.erp.mapper.stock.StockMapper">
<insert id="insertProduct" parameterType="ProductVO">
INSERT INTO product(
		PRODUCT_CODE
		,PRODUCT_NAME
		,SPECIFICATION
		,EMP_NAME
		,PRODUCT_IMAGE
		,PURCHASE_PRICE
		,SALES_PRICE
		,NOTE
		,INSERT_DATE
)
VALUES(CONCAT('P',LPAD(seq_product.nextval,5,'0')),
       #{productName},
       #{specification},
       #{empName},
       #{productImageName},
       #{purchasePrice},
       #{salesPrice},
       #{note},
       #{insertDate}
)

</insert>

<select id="customerAll" resultType="PartnerVO">
SELECT 
       emp_name, 
       cus_name,
       cus_code,
       biz_no,
       ceo_name, 
       biz_type ,
       biz_category,
       addr 
FROM customer
</select>

<select id="productAll" resultType="ProductVO">
SELECT PRODUCT_CODE
       ,PRODUCT_NAME
       ,SPECIFICATION
FROM PRODUCT


</select>

<insert id="insertOrderPlan" useGeneratedKeys="true" keyProperty="xpCode" parameterType="OrderPlanVO">
INSERT INTO EXPLAIN(
         XP_CODE
         ,EMP_ID
         ,INS_DATE
         ,VAT_TYPE
)
VALUES (CONCAT('OP',SEQ_EXPLAIN.nextval), #{empId}, #{insDate}, #{taxType})


</insert>
<insert id="insertOrderPlanDetail" parameterType="OrderPlanDetailVO">
INSERT INTO EXPLAIN_DETAIL(
         XD_NO
        ,PRODUCT_CODE
        ,PRODUCT_NAME
        ,SPECIFICATION
        ,BUSINESS_PARTNER
        ,BUSINESS_CODE
        ,AMOUNT
        ,PURCHASE_PRICE
        ,SUP_AMT
        ,VAT_AMT
        ,XP_CODE
)
VALUES (SEQ_EXPLAIN_DETAIL.nextval ,
        #{productCode}, 
        #{productName},
        #{specification}, 
        #{businessPartner},
        #{businessCode},
        #{amount},
        #{purchasePrice},
        #{supAmt},
        #{vatAmt},
        #{xpCode}
)


</insert>





</mapper>