<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.erp.mapper.main.DocumentsMapper">
<insert id="insertSign">
    <selectKey keyProperty="docNo" resultType="long" order="BEFORE">
        SELECT doc_no_seq.NEXTVAL FROM DUAL
    </selectKey>
    INSERT INTO documents (
        doc_no,
        doc_name,
        file_path,
        mat_no,
        sign_date,
        sign_path,
        status
    ) VALUES (
       #{docNo},    
        #{docName},
        #{filePath},
        #{matNo}, 
        SYSDATE,   
        #{signPath},
        #{status}   
    )
</insert>
<update id="updateDocumentSign">
    UPDATE documents
       SET sign_path = #{signPath},
           sign_date = SYSDATE,
           status = #{status}
     WHERE doc_no IN
       <foreach collection="ids" item="id" open="(" separator="," close=")">
           #{id}
       </foreach>
</update>
<!-- 전자서명 최신버전 -->
<select id="selectLatestSignature" resultType="DocumentsVO">
  SELECT DOC_NO,
         DOC_NAME,
         SIGN_PATH,
         SIGN_DATE
  FROM (
      SELECT DOC_NO,
             DOC_NAME,
             SIGN_PATH,
             SIGN_DATE
      FROM DOCUMENTS
      WHERE MAT_NO = #{matNo}
        AND SIGN_PATH IS NOT NULL
      ORDER BY SIGN_DATE DESC
  )
  WHERE ROWNUM = 1
</select>
</mapper>