<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.main.PasswordResetTokenMapper">
  <insert id="save" parameterType="com.yedam.erp.vo.main.PwResetTokenVO">
        INSERT INTO pw_rest_token (
            token_no,
            start_date,
            end_date,
            emp_id_no,
            token
        ) VALUES (
            pw_rest_token_seq.NEXTVAL, #{startDate},
            #{endDate},
            #{empIdNo},
            #{token}
        )
    </insert>

    <select id="findByToken" parameterType="String" resultType="com.yedam.erp.vo.main.PwResetTokenVO">
        SELECT
            token_no,
            start_date,
            end_date,
            emp_id_no,
            token
        FROM
            pw_rest_token
        WHERE
            token = #{token}
    </select>
    
    <delete id="deleteByToken" parameterType="String">
        DELETE FROM pw_rest_token WHERE token = #{token}
    </delete>
</mapper>