<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 인터페이스 FQN과 100% 일치 -->
<mapper namespace="com.yedam.erp.mapper.Biz.BizMapper">

<!-- 테스트용 전체 주문서 목록 조회 -->
<select id="getAllPO" resultType="PurchaseOrderVO">
  SELECT * 
  FROM PURCHASE_ORDER
</select>

<!-- 주문서 조회 -->
<select id="selectPO" resultType="JoinPoVO" parameterType="long">
SELECT
    p.PO_CODE,
    p.PO_START,
    c.CUS_NAME,
    p.CREATER,
    CASE
        WHEN s.PROD_CNT > 1
          THEN s.REP_NAME || ' 외 ' || (s.PROD_CNT - 1) || '건'
        ELSE s.REP_NAME
    END AS PRODUCT_NAME,
    c.BIZ_TYPE,
    p.PO_STATUS,
    p.NOTES,
    p.EX_DATE,
    s.SUP_AMT   -- 과세 항목만 합산한 주문금액
FROM PURCHASE_ORDER p
JOIN CUSTOMER c
  ON c.CUS_CODE = p.CUS_CODE
JOIN (
    SELECT
        pod.PO_ID,
        COUNT(DISTINCT pod.PRODUCT_CODE) AS PROD_CNT,
        MIN(pdt.PRODUCT_NAME) AS REP_NAME,
        --  과세 항목만 SUP_AMT 합산
        SUM(
          CASE 
            WHEN pod.VAT_TYPE = '과세' THEN NVL(pod.SUP_AMT, 0)
            ELSE 0
          END
        ) AS SUP_AMT
    FROM PO_DETAIL pod
    JOIN PRODUCT pdt
      ON pdt.PRODUCT_CODE = pod.PRODUCT_CODE
    GROUP BY pod.PO_ID
) s
  ON s.PO_ID = p.PO_ID
WHERE c.COMPANY_CODE = #{companyCode}
ORDER BY p.PO_START DESC
</select>


<!-- 주문서 등록 -->
<!-- 헤더 insert: purchase_order -->
  <!-- 2-1. 헤더 INSERT: 시퀀스로 PO_ID 먼저 생성 -->
  <insert id="insertPOHeader" parameterType="PoInsertVO">
    <selectKey keyProperty="poId" resultType="long" order="BEFORE">
      SELECT PO_ID_SEQ.NEXTVAL FROM DUAL
    </selectKey>

    INSERT INTO purchase_order (
      PO_ID, COMPANY_CODE, PO_CODE, CUS_CODE, CREATER, PO_START, EX_DATE, PO_DATE,
      PO_STATUS, PAY_METHOD, NOTES, CREDIT_ACTIVE
    )
    VALUES (
      #{poId},
      #{companyCode},
      fn_generate_code('PO', ''),
      #{cusCode},
      #{creater},
      #{poStart},
      #{exDate},
      #{poDate},
      '승인대기',
      #{payMethod},
      #{notes},
      #{creditActive}
    )
  </insert>

<insert id="insertPODetails" parameterType="PoInsertVO">
  INSERT INTO po_detail (
    POD_ID, PO_ID, COMPANY_CODE,
    PRODUCT_CODE, ORDER_QTY, UNIT_PRICE,
    DC_AMT, SUP_AMT, VAT_AMT,
    PRODUCT_NAME, VAT_TYPE
  )
  SELECT
    POD_ID_SEQ.NEXTVAL,
    #{poId},
    #{companyCode},
    t.productCode,
    t.orderQty,
    t.unitPrice,
    t.dcAmt,
    t.supAmt,
    t.vatAmt,
    t.productName,
    t.vatType
  FROM (
    <foreach collection="poDetails" item="d" separator=" UNION ALL ">
      SELECT
        #{d.productCode}  AS productCode,
        #{d.orderQty}     AS orderQty,
        #{d.unitPrice}    AS unitPrice,
        #{d.dcAmt}        AS dcAmt,
        #{d.supAmt}       AS supAmt,
        #{d.vatAmt}       AS vatAmt,
        #{d.productName}  AS productName,
        #{d.vatType}      AS vatType
      FROM DUAL
    </foreach>
  ) t
</insert>


	<!-- 주문서 상태 변경(승인) -->
	<update id="poStatusUpdateBulk" parameterType="map">
	  UPDATE PURCHASE_ORDER
	     SET PO_STATUS = #{poStatus}
	   WHERE PO_CODE IN
	  <foreach collection="poCodes" item="code" open="(" separator="," close=")">
	    #{code}
	  </foreach>
	</update>


	<!-- 주문서 상태변경(입금완료) -->
	<!-- (1) 입금완료 처리 시 잔여여신(LEFT_PRICE) 가산 -->
	<update id="increaseCreditByPoList" parameterType="map">
	  UPDATE CREDIT_MASTER cm
	     SET cm.LEFT_PRICE = NVL(cm.LEFT_PRICE, 0) + (
	       SELECT NVL(SUM(pod.SUP_AMT), 0)
	         FROM PURCHASE_ORDER po
	         JOIN PO_DETAIL pod ON pod.PO_ID = po.PO_ID
	        WHERE po.PO_CODE IN
	        <foreach collection="poCodes" item="code" open="(" separator="," close=")">
	          #{code}
	        </foreach>
	          AND po.PAY_METHOD   = 'BILL'
	          AND po.PO_STATUS    = '출하완료'
	          AND po.CUS_CODE     = cm.CUS_CODE
	          AND po.COMPANY_CODE = cm.COMPANY_CODE
	     )
	   WHERE EXISTS (
	       SELECT 1
	         FROM PURCHASE_ORDER po2
	        WHERE po2.PO_CODE IN
	        <foreach collection="poCodes" item="code" open="(" separator="," close=")">
	          #{code}
	        </foreach>
	          AND po2.PAY_METHOD   = 'BILL'
	          AND po2.PO_STATUS    = '출하완료'
	          AND po2.CUS_CODE     = cm.CUS_CODE
	          AND po2.COMPANY_CODE = cm.COMPANY_CODE
	   )
	</update>
	
	<!-- (2) 상태를 '입금완료'로 변경 (이미 '출하완료'인 건만) -->
	<update id="poStatusUpdateBulkToPaid" parameterType="map">
	  UPDATE PURCHASE_ORDER
	     SET PO_STATUS = '입금완료'
	   WHERE PAY_METHOD = 'BILL'
	     AND PO_STATUS  = '출하완료'
	     AND PO_CODE IN
	   <foreach collection="poCodes" item="code" open="(" separator="," close=")">
	     #{code}
	   </foreach>
	</update>



<!-- 주문서 조회(모달) -->
<select id="getPoHistory" resultType="PoHistoryVO">
SELECT po.PO_CODE, po.PO_START, po.CUS_CODE, po.EMP_NAME, po.EX_DATE, po.PAY_METHOD,
       c.CUS_NAME, c.ADDR, c.ZIP_CODE, c.TEL,
       pd.PRODUCT_CODE, pd.PRODUCT_NAME, pd.ORDER_QTY, pd.UNIT_PRICE, pd.SUP_AMT
FROM PURCHASE_ORDER po
JOIN PO_DETAIL pd ON po.PO_ID = pd.PO_ID
JOIN CUSTOMER c ON po.CUS_CODE = c.CUS_CODE
WHERE po.COMPANY_CODE = #{companyCode}
  AND po.PO_STATUS = '작성완료'
ORDER BY po.PO_CODE DESC
</select>



<!-- 제품 조회(모달) -->
<select id="getProducts" parameterType="long" resultType="ProductCodeVO">
SELECT PRODUCT_CODE, 
       PRODUCT_NAME, 
       SALES_PRICE, 
       VAT_TYPE
FROM   PRODUCT
</select>



<!-- 거래처 조회(모달) 판매처만 조회-->
<select id="getCustomers" resultType="CusModalVO">
  SELECT c.CUS_CODE, c.CUS_NAME, c.ADDR, c.ZIP_CODE, c.TEL,
         cm.CREDIT_GRADE, cm.LEFT_PRICE, 
         cp.DISCOUNT_RATE
  FROM CUSTOMER c
  JOIN CREDIT_MASTER cm ON c.CUS_CODE = cm.CUS_CODE
  JOIN CREDIT_POLICY cp ON cp.COMPANY_CODE = c.COMPANY_CODE 
                    AND cp.GRADE = cm.CREDIT_GRADE
  WHERE c.COMPANY_CODE = #{companyCode}
   AND  c.GBN = '판매처'
  </select>

  <!-- 출하지시서 조회 -->
  <select id="selectDo" resultType="DeliveryOrderVO" parameterType="Long">
  SELECT
      d.DO_CODE,
      d.DO_CREATED,
      c.CUS_NAME,
      CASE
          WHEN s.PROD_CNT > 1
              THEN s.REP_NAME || ' 외 ' || (s.PROD_CNT - 1) || '건'
          ELSE s.REP_NAME
      END AS PRODUCT_NAME,
      d.ADDR,
      d.EX_DATE,
      d.DO_STATUS
  FROM DELIVERY_ORDER d
  JOIN CUSTOMER c
    ON d.CUS_CODE = c.CUS_CODE
  JOIN (
      SELECT
          dd.DO_NO,
          COUNT(DISTINCT dd.PRODUCT_CODE) AS PROD_CNT,   -- 품목 수
          MIN(p.PRODUCT_NAME) AS REP_NAME              -- 대표 품목명 (사전순)
      FROM DO_DETAIL dd
      JOIN PRODUCT p
        ON p.PRODUCT_CODE = dd.PRODUCT_CODE
      GROUP BY dd.DO_NO
  ) s
    ON s.DO_NO = d.DO_NO
  WHERE d.COMPANY_CODE = #{companyCode}
  ORDER BY d.DO_CREATED DESC
</select>





<!-- 출하지시서 등록 -->
<!-- 출하지시서 헤더 INSERT -->
<insert id="insertDOHeader" parameterType="DoInsertVO">
  <selectKey keyProperty="doNo" resultType="long" order="BEFORE">
    SELECT DO_NO_SEQ.NEXTVAL FROM DUAL
  </selectKey>

  INSERT INTO DELIVERY_ORDER (
    DO_NO, CUS_CODE, PO_CODE, DO_CODE,
    EMP_NAME, DO_CREATED,
    DO_STATUS, NOTES, COMPANY_CODE,
    EX_DATE, ADDR, ZIP_CODE,TEL
  )
  VALUES (
    #{doNo},
    #{cusCode},
    #{poCode},
    fn_generate_code('DO', ''),
    #{empName},
    #{doCreated},
    '작성완료',
    #{notes},
    #{companyCode},
    #{exDate},
    #{addr},
    #{zipCode},
    #{tel}
  )
</insert>

<!-- 출하지시서 상세 INSERT (UNION ALL + t 별칭 방식) -->
<insert id="insertDODetails" parameterType="DoInsertVO">
  INSERT INTO DO_DETAIL (
    DOD_NO, DO_NO, PRODUCT_CODE,
    ORDER_QTY, UNIT_PRICE, SUP_AMT,
    VAT_AMT, DC_AMT, COMPANY_CODE
  )
  SELECT
    fn_generate_code('DOD', ''),
    #{doNo},
    t.productCode,
    t.orderQty,
    t.unitPrice,
    t.supAmt,
    t.vatAmt,
    t.dcAmt,
    #{companyCode}
  FROM (
    <foreach collection="dodetails" item="d" separator=" UNION ALL ">
      SELECT
        #{d.productCode} AS productCode,
        #{d.orderQty}     AS orderQty,
        #{d.unitPrice}    AS unitPrice,
        #{d.supAmt}      AS supAmt,
        #{d.vatAmt}      AS vatAmt,
        #{d.dcAmt}       AS dcAmt
      FROM DUAL
    </foreach>
  ) t
</insert>


<!-- 거래처 조회-->
<select id="selectCustomers" resultType="java.util.List" parameterType="String">
  SELECT CUS_CODE, CUS_NAME, CEO_NAME, TEL, ADDR, ACTIVE_STATUS, GBN
  FROM CUSTOMER
  WHERE COMPANY_CODE = #{companyCode}
</select>



<!-- 거래처 관리 조회 페이지 -->
<resultMap id="CustomerWithCreditMap" type="CustomerVO">
  <!-- 거래처 -->
  <id     property="cusNo"        column="CUS_NO"/>
  <result property="gbn"      column="GBN"/>
  <result property="cusCode"      column="CUS_CODE"/>
  <result property="empNo"        column="EMP_NO"/>
  <result property="empName"      column="EMP_NAME"/>
  <result property="cusName"      column="CUS_NAME"/>
  <result property="bizNo"        column="BIZ_NO"/>
  <result property="ceoName"      column="CEO_NAME"/>
  <result property="bizType"      column="BIZ_TYPE"/>
  <result property="bizCategory"  column="BIZ_CATEGORY"/>
  <result property="tel"          column="TEL"/>
  <result property="email"        column="EMAIL"/>
  <result property="addr"         column="ADDR"/>
  <result property="zipCode"      column="ZIP_CODE"/>
  <result property="activeStatus" column="ACTIVE_STATUS"/>
  <result property="gbn"          column="GBN"/>
  <result property="bankName"     column="BANK_NAME"/>
  <result property="bankAccount"  column="BANK_ACCOUNT"/>
  <result property="companyCode"  column="COMPANY_CODE"/>

  <!-- 여신 -->
  <association property="credit" javaType="CreditVO">
    <result property="creditLimit"   column="CREDIT_LIMIT"/>
    <result property="creditGrade"   column="CREDIT_GRADE"/>
    <result property="startDate"     column="START_DATE"/>
    <result property="expireDate"       column="EXPIRE_DATE"/>
    <result property="cActiveStatus"  column="ACTIVE_STATUS"/>
    <result property="cusCode"       column="CUS_CODE"/>      <!-- FK 보조 -->
    <result property="companyCode"   column="COMPANY_CODE"/>  <!-- FK 보조 -->
  </association>
</resultMap>

<!-- 거래처 및 여신 조회 -->
<select id="getCustomerManagement" resultMap="CustomerWithCreditMap" parameterType="long">
    SELECT
      c.CUS_NO, c.GBN, c.CUS_CODE, c.EMP_NO, c.EMP_NAME, c.CUS_NAME, c.BIZ_NO,
      c.CEO_NAME, c.BIZ_TYPE, c.BIZ_CATEGORY, c.TEL, c.EMAIL, c.ADDR, c.ZIP_CODE,
      c.ACTIVE_STATUS,
      c.GBN, c.BANK_NAME, c.BANK_ACCOUNT, c.COMPANY_CODE,
      cm.CREDIT_LIMIT, cm.CREDIT_GRADE, cm.START_DATE, cm.EXPIRE_DATE,
      cm.ACTIVE_STATUS AS C_ACTIVE_STATUS, cm.CUS_CODE
    FROM CUSTOMER c
    LEFT JOIN CREDIT_MASTER cm ON cm.CUS_CODE = c.CUS_CODE
    WHERE c.COMPANY_CODE = #{companyCode}
</select>


<!-- 거래처 등록 -->
<!--고객코드 생성 -->
<select id="nextCusCode" resultType="string">
  SELECT FN_CUS_CODE('') AS CUS_CODE FROM DUAL
</select>

<!-- 1) 거래처 등록 -->
<insert id="insertCustomer" parameterType="CustomerVO">
  INSERT INTO CUSTOMER (
    CUS_NO, CUS_CODE, EMP_NO, EMP_NAME, CUS_NAME, BIZ_NO,
    CEO_NAME, BIZ_TYPE, BIZ_CATEGORY, TEL, EMAIL, ADDR, ZIP_CODE,
    ACTIVE_STATUS, GBN, BANK_NAME, BANK_ACCOUNT, COMPANY_CODE
  )
  VALUES (
    CUS_NO_SEQ.NEXTVAL,
    #{cusCode},
    #{empNo}, #{empName}, #{cusName}, #{bizNo},
    #{ceoName}, #{bizType}, #{bizCategory}, #{tel}, #{email}, #{addr}, #{zipCode},
    #{activeStatus}, #{gbn}, #{bankName}, #{bankAccount}, #{companyCode}
  )
</insert>

<!-- 1) 거래처별 여신 등록 -->
<insert id="insertCredit" parameterType="CreditVO">
  INSERT INTO CREDIT_MASTER(
    CREDIT_NO,
    CUS_CODE, CREDIT_LIMIT, CREDIT_GRADE,
    START_DATE, EXPIRE_DATE,
    ACTIVE_STATUS, COMPANY_CODE
  )
  VALUES (
    CREDIT_NO_SEQ.NEXTVAL,
    #{cusCode}, #{creditLimit}, #{creditGrade},
    #{startDate}, #{expireDate},
    #{cActiveStatus}, #{companyCode}
  )
</insert>




<!-- 거래처 수정 -->
  <update id="updateCustomerByCusCode" parameterType="CustomerVO">
    UPDATE CUSTOMER
    <set>
      <if test="ceoName != null">        CEO_NAME = #{ceoName},</if>
      <if test="empName != null">       EMP_NAME = #{empName},</if>
      <if test="cusName != null">        CUS_NAME = #{cusName},</if>
      <if test="bizNo != null">          BIZ_NO = #{bizNo},</if>
      <if test="bizType != null">        BIZ_TYPE = #{bizType},</if>
      <if test="bizCategory != null">    BIZ_CATEGORY = #{bizCategory},</if>
      <if test="tel != null">            TEL = #{tel},</if>
      <if test="email != null">          EMAIL = #{email},</if>
      <if test="addr != null">           ADDR = #{addr},</if>
      <if test="zipCode != null">        ZIP_CODE = #{zipCode},</if>
      <if test="activeStatus != null">   ACTIVE_STATUS = #{activeStatus},</if>
      <if test="gbn != null">           GBN = #{gbn},</if>
      <if test="bankName != null">           BANK_NAME = #{bankName},</if>
      <if test="bankAccount != null">           BANK_ACCOUNT = #{bankAccount},</if>
    </set>
    WHERE CUS_CODE = #{cusCode}
  </update>

<!-- 거래처 여신 수정 -->
  <update id="updateCreditByCusCode" parameterType="CreditVO">
    UPDATE CREDIT_MASTER
    <set>
      <if test="creditLimit != null">           CREDIT_LIMIT = #{creditLimit},</if>
      <if test="creditGrade != null">           CREDIT_GRADE = #{creditGrade},</if>
      <if test="startDate != null">             START_DATE = #{startDate},</if>
      <if test="expireDate != null">            EXPIRE_DATE = #{expireDate},</if>
      <if test="cActiveStatus != null">          ACTIVE_STATUS = #{cActiveStatus},</if>
    </set>
    WHERE CUS_CODE = #{cusCode}
  </update>

  

<!-- 여신관리 페이지 -->

<!-- 여신현황 조회 -->
  <select id="selectCrdMaster" parameterType="long" resultType="CustomerCreditVO">
  SELECT c.CUS_CODE, c.CUS_NAME, 
        cm.CREDIT_GRADE, cm.CREDIT_LIMIT, cm.START_DATE, cm.EXPIRE_DATE, cm.ACTIVE_STATUS
  FROM CREDIT_MASTER cm
  JOIN CUSTOMER c ON cm.CUS_CODE = c.CUS_CODE
  WHERE c.COMPANY_CODE = #{companyCode}
  </select>


<!-- 여신 등급 정책 조회-->
<select id="getCreditGrade" resultType="CreditGradeVO">
SELECT GRADE, GRADE_NAME, MAX_LIMIT, DISCOUNT_RATE
FROM CREDIT_POLICY
WHERE COMPANY_CODE = #{companyCode}
</select>


<!--  여신 등급 정책 업데이트 -->

<!--  여신정책 resultMap -->
  <resultMap id="CreditPolicyMap" type="CreditGradeVO">
    <result property="companyCode" column="COMPANY_CODE"/>
    <result property="grade"       column="GRADE"/>
    <result property="gradeName"   column="GRADE_NAME"/>
    <result property="maxLimit"    column="MAX_LIMIT"/>
    <result property="discountRate" column="DISCOUNT_RATE"/>
  </resultMap>

  <update id="updateCreditPolicyByGrade" parameterType="CreditGradeVO">
    UPDATE CREDIT_POLICY
    <set>
      <if test="gradeName != null"> GRADE_NAME = #{gradeName}, </if>
      <if test="maxLimit != null">  MAX_LIMIT = #{maxLimit},   </if>
      <if test="discountRate != null"> DISCOUNT_RATE = #{discountRate}, </if>
    </set>
    WHERE COMPANY_CODE = #{companyCode}
      AND GRADE        = #{grade}
  </update>



<!-- (미구현)여신등급 정책 변경이력 쿼리-->
<!-- <select id="getCreditHistory" resultType="CreditHistoryVO">
SELECT c.CUS_NAME, cph.CHANGED_DATE, cph.OLD_GRADE, cph.OLD_LIMIT, cph.OLD_DISC, cph.OLD_MON_DISC
FROM CREDIT_POLICY_HISTORY cph
JOIN CUSTOMER c ON cph.CUS_CODE = c.CUS_CODE
WHERE c.COMPANY_CODE = #{companyCode}
</select> -->
</mapper>
