<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/ag-grid-community@30.2.1/styles/ag-theme-quartz.css"
    />
  </head>
  <body>
    <!-- fragment 이름을 customermodal 로 지정 -->
    <div th:fragment="customermodal">
      <div
        class="modal fade"
        id="customermodal"
        tabindex="-1"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">거래처</h5>
             <button type="button" class="btn btn-light btn-sm border-0" data-bs-dismiss="modal" aria-label="닫기">
            <i class="fas fa-times"></i>
          </button>
            </div>
            <!-- 모달 바디 시작 -->
            <div class="modal-body">

              <!-- 검색 결과 ag-Grid -->
         <!--  로딩바 구역 -->
        <div id="customerGridLoader" style="position: relative; width: 100%; max-height: 500px;">
              <div
                id="customerGrid"
                class="ag-theme-quartz"
                style="height: 400px; width: 100%"
              ></div>
          <!-- 로딩 스피너 -->
          <div id="loaderBsModal" class="loader-overlay" style="display: none;">
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
                <!-- 모달 바디 종료 -->

                <!-- 모달 푸터 -->
                <div class="modal-footer">
                  <button
                    id="CstImportBtn"
                    type="button"
                    class="btn btn-primary mr-2"
                     data-bs-dismiss="modal" aria-label="Close"
                  >
                    선택
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
